<div class="qv-panel-assets ng-scope ng-isolate-scope qv-panel-assets-expanded" ng-class="{'qv-panel-assets-expanded' : assets.tabExpanded, 'qv-panel-assets-collapsed' : !assets.tabExpanded}" ng-if="editLoaded" ng-show="inEdit &amp;&amp; state.assetsOpen">
	<div id="assets-button-panel" class="qui-editbarflat qv-assets ng-isolate-scope" assets="assets" is-edit-variable="isEditVariable">

	<!-- ngRepeat: tab in assets.tabs --><button ng-repeat="tab in assets.tabs" ng-class="{ active: assets.activeTab == tab &amp;&amp; assets.tabExpanded, 'hits': tab.hitCount > 0}" data-icon="subtoolbar-template" dock="right" title="Charts" class="qv-assets-toggle-button ng-scope" tid="tab_bar_button_assets-tab-template" lui-title-tooltip="" qva-activate="assets.activateTab( tab )">
		<div class="qui-searchhitindicator ng-binding ng-isolate-scope ng-hide" ng-show="count > 0" count="tab.hitCount"></div>
	</button><!-- end ngRepeat: tab in assets.tabs --><button ng-repeat="tab in assets.tabs" ng-class="{ active: assets.activeTab == tab &amp;&amp; assets.tabExpanded, 'hits': tab.hitCount > 0}" data-icon="extension" dock="right" title="Custom objects" class="qv-assets-toggle-button ng-scope" tid="tab_bar_button_widgets" lui-title-tooltip="" qva-activate="assets.activateTab( tab )">
		<div class="qui-searchhitindicator ng-binding ng-isolate-scope ng-hide" ng-show="count > 0" count="tab.hitCount"></div>
	</button><!-- end ngRepeat: tab in assets.tabs --><button ng-repeat="tab in assets.tabs" ng-class="{ active: assets.activeTab == tab &amp;&amp; assets.tabExpanded, 'hits': tab.hitCount > 0}" data-icon="link" dock="right" title="Master items" class="qv-assets-toggle-button ng-scope active" tid="tab_bar_button_library" lui-title-tooltip="" qva-activate="assets.activateTab( tab )">
		<div class="qui-searchhitindicator ng-binding ng-isolate-scope ng-hide" ng-show="count > 0" count="tab.hitCount"></div>
	</button><!-- end ngRepeat: tab in assets.tabs --><button ng-repeat="tab in assets.tabs" ng-class="{ active: assets.activeTab == tab &amp;&amp; assets.tabExpanded, 'hits': tab.hitCount > 0}" data-icon="database" dock="right" title="Fields" class="qv-assets-toggle-button ng-scope" tid="tab_bar_button_assets-tab-field" lui-title-tooltip="" qva-activate="assets.activateTab( tab )">
		<div class="qui-searchhitindicator ng-binding ng-isolate-scope ng-hide" ng-show="count > 0" count="tab.hitCount"></div>
	</button><!-- end ngRepeat: tab in assets.tabs -->

	<div class="divider"></div>

	<div class="filler"></div>

	<div>
		<div class="divider"></div>
		<!-- ngIf: isEditVariable --><button ng-if="isEditVariable" data-icon="variables" class="variable qv-assets-toggle-button ng-scope" ng-class="{ 'active': variablesOpen }" tid="show-variables" title="Variables" lui-title-tooltip="" dock="right" qva-activate="openVariableDialog()">
		</button><!-- end ngIf: isEditVariable -->
	</div>

</div>
	<section class="qui-toolsframe qv-has-tab-row" id="assets-tab-container" ng-class="{ 'qv-has-tab-row': assets.tabs.length > 1 }">
		

		<header id="toolbox-header">
			<div class="name-container">
				<h1 class="toolbox-tab-name" q-translation="Toolbox.Tab.Title.MasterItems">Master items</h1>
				<button class="collapse-button" tabindex="-1" q-title-translation="Common.Close" ng-click="assets.closeActiveTab()" title="Close">
					<span class="lui-fade-button__icon  lui-icon lui-icon--close"></span>
				</button>


			</div>
			<div>

				<div class="assets-search-panel ng-isolate-scope" data-help="Library.Search" query="assets.query" clear-when="assets.query === ''" look="dark">

	<div class="frame lui-bg-inverse" ng-class="{'lui-bg-inverse': look == 'dark'}">
		<div class="lui-search lui-search--inverse" ng-class="{'lui-search--inverse': look == 'dark'}">
			<span class="lui-search__search-icon"></span>
			<input class="lui-search__input ng-pristine ng-untouched ng-valid ng-empty ng-valid-maxlength" maxlength="255" ng-model="rawQuery" spellcheck="false" type="text" q-placeholder="Common.Search" ng-trim="true" tabindex="-1" placeholder="Search">
			<span class="asset-search-panel-clear-search lui-search__clear-icon ng-hide" ng-click="onClear();" ng-hide="!rawQuery" q-title-translation="Common.Clear" title="Clear"></span>
		</div>
	</div>


	<!--<qui-search-field-old on-clear="onClear()" query="rawQuery" placeholder="Common.Search" on-escape="rawQuery = '';"></qui-search-field-old>-->
</div>
			</div>
			<div ng-show="assets.activeTab.hasTableFilter" class="ng-hide">
				<div id="assets-table-select" data-help="Library.Table" table="assets.table" class="ng-isolate-scope">
	<label q-translation="Assets.FieldsTab.Table">Filter by table</label>
	<select class="lui-select lui-select--inverse ng-pristine ng-untouched ng-valid ng-not-empty" ng-model="selectedTable" x-variant="inverse" x-model="selectedTable" id="fields-tab-tables">
	
		<option value="All" q-translation="Common.All.Tables">All tables</option>
		<!-- ngRepeat: table in tables --><option value="airline" ng-repeat="table in tables" class="ng-binding ng-scope">airline</option><!-- end ngRepeat: table in tables --><option value="Result" ng-repeat="table in tables" class="ng-binding ng-scope">Result</option><!-- end ngRepeat: table in tables -->
	
</select>
</div>
			</div>
		</header>

		<div qva-assets-tab="assets.activeTab" component="assets.activeTab.component" class="tab-items-container ng-isolate-scope"><div id="library" class="assets-tab ng-scope"><section class="qui-toolssectionframe ui-accordion ui-widget ui-helper-reset" id="libAccordion" role="tablist"><header data-accordion-name="dimension" tid="accordion-header-dimension" ng-hide="tab.hiddenHeaders" class="ui-accordion-header ui-corner-top ui-state-default ui-accordion-icons ui-accordion-header-active ui-state-active" role="tab" id="ui-id-19" aria-controls="ui-id-20" aria-selected="true" aria-expanded="true" tabindex="0"><span class="ui-accordion-header-icon ui-icon ui-icon-triangle-1-s"></span>
	<div class="active-marker"></div>
	<div class="header-content">
		<!-- ngIf: tab.sections[0].icon -->
		<h2 class="section-name" q-translation="Common.Dimensions">Dimensions</h2>
		<div class="qui-outlinedsearchhitindicator ng-binding ng-isolate-scope ng-hide" ng-show="count > 0" count="tab.sections[0].matchCount"></div>
	</div>
</header>
<div class="assets-section-items ui-accordion-content ui-corner-bottom ui-helper-reset ui-widget-content ui-accordion-content-active" id="ui-id-20" aria-labelledby="ui-id-19" role="tabpanel" aria-hidden="false" style="height: 682px; overflow: auto;">
	<div class="assets-section ng-isolate-scope" tid="dimension" section="tab.sections[0]">
	<!-- ngIf: section.allowAdd --><div ng-if="section.allowAdd" class="library-section-add-button-wrapper ng-scope">
		<button lui-class-list="classList" ng-transclude="" qva-activate="section.addAction()" id="addDimension" q-translation="Dimension.Toolbox.CreateButton" class="ng-isolate-scope lui-button">Create new</button>
	</div><!-- end ngIf: section.allowAdd -->
	<div class="assets-list ng-isolate-scope empty" ng-class="{ empty: !section.items.length }" query="section.assets.query" section="section">
	<span class="assets-nohits" ng-show="!section.loading &amp;&amp; !query &amp;&amp; !section.items.length" q-translation="library.noitems">No items</span>
	<div ng-show="show" class="assets-nohits ng-isolate-scope ng-hide" query="query" show="!section.loading &amp;&amp; query &amp;&amp; !section.items.length">
	<div class="query">“<div class="ng-binding"></div>”</div>
	<span class="message" q-translation="Toolbox.Search.Nohits">No hits</span>
</div>

	<div class="expanded-info-header  ng-hide" ng-show="!section.loading &amp;&amp; section.hasMetaInfo &amp;&amp; section.items.length > 0" ng-class="{'expanded': section.infoExpanded}">
		<div class="expanded-info-collapsed-header">
			<div class="expanded-info-collapsed-title ng-binding" ng-bind="section.infoTitle" title=""></div>
			<span class="lui-icon lui-icon--more" ng-click="section.infoExpanded = !section.infoExpanded;" q-title-translation="Tooltip.AssetPanel.ExpandWidgetInformation" title="More information"></span>
		</div>
		<div class="expanded-info">
			<div class="info-image"></div>
			<div class="expanded-info-content ng-binding" ng-bind="section.description"></div>
		</div>
	</div>

	<div dir="ltr" class="scroll-area ng-isolate-scope" ng-show="!section.loading" ng-class="{ 'native-scroll-enabled': !scroll.virtualScrollEnabled }">
	<div class="scroll-content" ng-transclude="">
		<div class="qv-scroll-data-load-buttons ng-scope ng-isolate-scope ng-hide previous" ng-class="{ previous: previous }" ng-show="scroll.loadPrevious" on-load="scroll.gotoPreviousBlock()" text="Object.Listbox.LoadPrevious" previous="true">
	<div ng-transclude=""></div>
	<button class="lui-button" qva-activate="load()" ng-disabled="disabled">
		<p q-translation="Object.Listbox.LoadPrevious">Load previous</p>
	</button>
</div>

		<ul class="lui-list ng-scope" ng-class="{ 'align-bottom': scroll.alignBottomAbsolute }">

			<!-- ngRepeat: item in scroll.items track by item.id -->
		</ul>

		<div class="qv-scroll-data-load-buttons ng-scope ng-isolate-scope ng-hide" ng-class="{ previous: previous }" ng-show="scroll.loadNext" on-load="scroll.gotoNextBlock()" text="Object.Listbox.LoadMore">
	<div ng-transclude=""></div>
	<button class="lui-button" qva-activate="load()" ng-disabled="disabled">
		<p q-translation="Object.Listbox.LoadMore">Load more</p>
	</button>
</div>
	</div>
	<!-- ngIf: scrollbarY.enabled -->
	<!-- ngIf: scrollbarX.enabled -->
	<!-- ngIf: scrollbarY.enabled -->
	<!-- ngIf: scrollbarX.enabled -->
	<!-- ngIf: scrollbarY.enabled -->
	<!-- ngIf: scrollbarX.enabled -->
</div>
	<div ng-style="loaderStyle" class="qv-scroll-loader qv-animate ng-isolate-scope" no-rain="true" style="width: 0px; height: 0px;"><!-- ngIf: showRain --></div>

	<div class="assets-loading ng-hide" ng-show="section.loading"><span q-translation="Common.Loading">Loading...</span>
		<div ng-show="internalShow" class="qv-animate spinner ng-hide ng-isolate-scope" ng-class="{'center-in-parent': centerInParent}" ng-style="{'width': spinnerWidth, 'height': spinnerHeight }" show="section.loading">
	<div class="qv-loader"></div>
</div>
	</div>

</div>
</div>
</div>

<header data-accordion-name="measure" tid="accordion-header-measure" ng-hide="tab.hiddenHeaders" class="ui-accordion-header ui-corner-top ui-state-default ui-accordion-icons ui-accordion-header-collapsed ui-corner-all" role="tab" id="ui-id-21" aria-controls="ui-id-22" aria-selected="false" aria-expanded="false" tabindex="-1"><span class="ui-accordion-header-icon ui-icon ui-icon-triangle-1-e"></span>
	<div class="active-marker"></div>
	<div class="header-content">
		<!-- ngIf: tab.sections[1].icon -->
		<h2 class="section-name" q-translation="Common.Measures">Measures</h2>
		<div class="qui-outlinedsearchhitindicator ng-binding ng-isolate-scope ng-hide" ng-show="count > 0" count="tab.sections[1].matchCount"></div>
	</div>
</header>
<div class="assets-section-items ui-accordion-content ui-corner-bottom ui-helper-reset ui-widget-content" id="ui-id-22" aria-labelledby="ui-id-21" role="tabpanel" aria-hidden="true" style="height: 682px; overflow: auto; display: none;">
	<div class="assets-section ng-isolate-scope" tid="measure" section="tab.sections[1]">
	<!-- ngIf: section.allowAdd --><div ng-if="section.allowAdd" class="library-section-add-button-wrapper ng-scope">
		<button lui-class-list="classList" ng-transclude="" qva-activate="section.addAction()" id="addMeasure" q-translation="Measure.Toolbox.CreateButton" class="ng-isolate-scope lui-button">Create new</button>
	</div><!-- end ngIf: section.allowAdd -->
	<div class="assets-list ng-isolate-scope empty" ng-class="{ empty: !section.items.length }" query="section.assets.query" section="section">
	<span class="assets-nohits" ng-show="!section.loading &amp;&amp; !query &amp;&amp; !section.items.length" q-translation="library.noitems">No items</span>
	<div ng-show="show" class="assets-nohits ng-isolate-scope ng-hide" query="query" show="!section.loading &amp;&amp; query &amp;&amp; !section.items.length">
	<div class="query">“<div class="ng-binding"></div>”</div>
	<span class="message" q-translation="Toolbox.Search.Nohits">No hits</span>
</div>

	<div class="expanded-info-header  ng-hide" ng-show="!section.loading &amp;&amp; section.hasMetaInfo &amp;&amp; section.items.length > 0" ng-class="{'expanded': section.infoExpanded}">
		<div class="expanded-info-collapsed-header">
			<div class="expanded-info-collapsed-title ng-binding" ng-bind="section.infoTitle" title=""></div>
			<span class="lui-icon lui-icon--more" ng-click="section.infoExpanded = !section.infoExpanded;" q-title-translation="Tooltip.AssetPanel.ExpandWidgetInformation" title="More information"></span>
		</div>
		<div class="expanded-info">
			<div class="info-image"></div>
			<div class="expanded-info-content ng-binding" ng-bind="section.description"></div>
		</div>
	</div>

	<div dir="ltr" class="scroll-area ng-isolate-scope" ng-show="!section.loading" ng-class="{ 'native-scroll-enabled': !scroll.virtualScrollEnabled }">
	<div class="scroll-content" ng-transclude="">
		<div class="qv-scroll-data-load-buttons ng-scope ng-isolate-scope ng-hide previous" ng-class="{ previous: previous }" ng-show="scroll.loadPrevious" on-load="scroll.gotoPreviousBlock()" text="Object.Listbox.LoadPrevious" previous="true">
	<div ng-transclude=""></div>
	<button class="lui-button" qva-activate="load()" ng-disabled="disabled">
		<p q-translation="Object.Listbox.LoadPrevious">Load previous</p>
	</button>
</div>

		<ul class="lui-list ng-scope" ng-class="{ 'align-bottom': scroll.alignBottomAbsolute }">

			<!-- ngRepeat: item in scroll.items track by item.id -->
		</ul>

		<div class="qv-scroll-data-load-buttons ng-scope ng-isolate-scope ng-hide" ng-class="{ previous: previous }" ng-show="scroll.loadNext" on-load="scroll.gotoNextBlock()" text="Object.Listbox.LoadMore">
	<div ng-transclude=""></div>
	<button class="lui-button" qva-activate="load()" ng-disabled="disabled">
		<p q-translation="Object.Listbox.LoadMore">Load more</p>
	</button>
</div>
	</div>
	<!-- ngIf: scrollbarY.enabled -->
	<!-- ngIf: scrollbarX.enabled -->
	<!-- ngIf: scrollbarY.enabled -->
	<!-- ngIf: scrollbarX.enabled -->
	<!-- ngIf: scrollbarY.enabled -->
	<!-- ngIf: scrollbarX.enabled -->
</div>
	<div ng-style="loaderStyle" class="qv-scroll-loader qv-animate ng-isolate-scope" no-rain="true" style="width: 0px; height: 0px;"><!-- ngIf: showRain --></div>

	<div class="assets-loading ng-hide" ng-show="section.loading"><span q-translation="Common.Loading">Loading...</span>
		<div ng-show="internalShow" class="qv-animate spinner ng-hide ng-isolate-scope" ng-class="{'center-in-parent': centerInParent}" ng-style="{'width': spinnerWidth, 'height': spinnerHeight }" show="section.loading">
	<div class="qv-loader"></div>
</div>
	</div>

</div>
</div>
</div>

<header data-accordion-name="visualization" tid="accordion-header-visualization" ng-hide="tab.hiddenHeaders" class="ui-accordion-header ui-corner-top ui-accordion-header-collapsed ui-corner-all ui-state-default ui-accordion-icons" role="tab" id="ui-id-23" aria-controls="ui-id-24" aria-selected="false" aria-expanded="false" tabindex="-1"><span class="ui-accordion-header-icon ui-icon ui-icon-triangle-1-e"></span>
	<div class="active-marker"></div>
	<div class="header-content">
		<!-- ngIf: tab.sections[2].icon -->
		<h2 class="section-name" q-translation="library.Visualizations">Visualizations</h2>
		<div class="qui-outlinedsearchhitindicator ng-binding ng-isolate-scope ng-hide" ng-show="count > 0" count="tab.sections[2].matchCount"></div>
	</div>
</header>
<div class="assets-section-items ui-accordion-content ui-corner-bottom ui-helper-reset ui-widget-content" id="ui-id-24" aria-labelledby="ui-id-23" role="tabpanel" aria-hidden="true" style="display: none; height: 682px; overflow: auto;">
	<div class="assets-section ng-isolate-scope" tid="visualization" section="tab.sections[2]">
	<!-- ngIf: section.allowAdd -->
	<div class="assets-list ng-isolate-scope empty" ng-class="{ empty: !section.items.length }" query="section.assets.query" section="section">
	<span class="assets-nohits" ng-show="!section.loading &amp;&amp; !query &amp;&amp; !section.items.length" q-translation="library.noitems">No items</span>
	<div ng-show="show" class="assets-nohits ng-isolate-scope ng-hide" query="query" show="!section.loading &amp;&amp; query &amp;&amp; !section.items.length">
	<div class="query">“<div class="ng-binding"></div>”</div>
	<span class="message" q-translation="Toolbox.Search.Nohits">No hits</span>
</div>

	<div class="expanded-info-header  ng-hide" ng-show="!section.loading &amp;&amp; section.hasMetaInfo &amp;&amp; section.items.length > 0" ng-class="{'expanded': section.infoExpanded}">
		<div class="expanded-info-collapsed-header">
			<div class="expanded-info-collapsed-title ng-binding" ng-bind="section.infoTitle" title=""></div>
			<span class="lui-icon lui-icon--more" ng-click="section.infoExpanded = !section.infoExpanded;" q-title-translation="Tooltip.AssetPanel.ExpandWidgetInformation" title="More information"></span>
		</div>
		<div class="expanded-info">
			<div class="info-image"></div>
			<div class="expanded-info-content ng-binding" ng-bind="section.description"></div>
		</div>
	</div>

	<div dir="ltr" class="scroll-area ng-isolate-scope" ng-show="!section.loading" ng-class="{ 'native-scroll-enabled': !scroll.virtualScrollEnabled }">
	<div class="scroll-content" ng-transclude="">
		<div class="qv-scroll-data-load-buttons ng-scope ng-isolate-scope ng-hide previous" ng-class="{ previous: previous }" ng-show="scroll.loadPrevious" on-load="scroll.gotoPreviousBlock()" text="Object.Listbox.LoadPrevious" previous="true">
	<div ng-transclude=""></div>
	<button class="lui-button" qva-activate="load()" ng-disabled="disabled">
		<p q-translation="Object.Listbox.LoadPrevious">Load previous</p>
	</button>
</div>

		<ul class="lui-list ng-scope" ng-class="{ 'align-bottom': scroll.alignBottomAbsolute }">

			<!-- ngRepeat: item in scroll.items track by item.id -->
		</ul>

		<div class="qv-scroll-data-load-buttons ng-scope ng-isolate-scope ng-hide" ng-class="{ previous: previous }" ng-show="scroll.loadNext" on-load="scroll.gotoNextBlock()" text="Object.Listbox.LoadMore">
	<div ng-transclude=""></div>
	<button class="lui-button" qva-activate="load()" ng-disabled="disabled">
		<p q-translation="Object.Listbox.LoadMore">Load more</p>
	</button>
</div>
	</div>
	<!-- ngIf: scrollbarY.enabled -->
	<!-- ngIf: scrollbarX.enabled -->
	<!-- ngIf: scrollbarY.enabled -->
	<!-- ngIf: scrollbarX.enabled -->
	<!-- ngIf: scrollbarY.enabled -->
	<!-- ngIf: scrollbarX.enabled -->
</div>
	<div ng-style="loaderStyle" class="qv-scroll-loader qv-animate ng-isolate-scope" no-rain="true" style="width: 0px; height: 0px;"><!-- ngIf: showRain --></div>

	<div class="assets-loading ng-hide" ng-show="section.loading"><span q-translation="Common.Loading">Loading...</span>
		<div ng-show="internalShow" class="qv-animate spinner ng-hide ng-isolate-scope" ng-class="{'center-in-parent': centerInParent}" ng-style="{'width': spinnerWidth, 'height': spinnerHeight }" show="section.loading">
	<div class="qv-loader"></div>
</div>
	</div>

</div>
</div>
</div>

</section></div></div>
	</section>


</div>